* {
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    min-height: 100vh;
    padding-top: 10%;
}

.container {
    max-width: 360px;
    margin: auto;
}

.box {
    background-color: hsl(0, 0%, 100%);
    border-radius: 17px;
    padding: 18px;
    text-align: center;
}

.box img {
    width: 100%;
    border-radius: 17px;
}

.letter {
    padding: 22px 10px;
}

.letter h2 {
    color: hsl(218, 44%, 22%);
    padding-bottom: 15px;
}


.letter p {
    color: hsl(220, 15%, 55%);
}

.attribution{
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%);
}